<h1>Equipe: <%= @team.name %></h1>
<h2>Description:</h2>
<p><%= @team.description %></p>

<h2>Gladiateurs</h2>
<% if @gladiators.count > 0 %>
	<% @gladiators.each do |gladiator| %>
		<div class="droppable">
			<p><%= gladiator.name %></p>
			<ul class='gladiator-equipments'>
				
			</ul>
		</div>
	<% end %>
	<div class="reset-float"></div>		
<% end %>
<%= link_to("create gladiator", new_gladiator_path) %>

<h2>Equipements</h2>
<p>Glisser un équipement sur un gladiateur pour l'équiper</p>
<% if @equipments.count > 0 %>
		<% @equipments.each do |equipment| %>
			<div class="single-equipment draggable">
				<h3><%= equipment.name %></h3>
				<!-- <p>Priorité: <%= equipment.priority %></p>
				<p>Dommages: <%= equipment.damage %></p>
				<p>Défense: <%= equipment.defense %></p> -->
			</div>
		<% end %>
	</ul>
	<div class="reset-float"></div>
<% end %>

<%= link_to("edit", [:edit, @team]) %>
<%= link_to("delete", @team, :method => :delete) %>
