<h1><%= @team.name %></h1>
<p><%= @team.description %></p>

<h2>Gladiateurs</h2>
<% if @gladiators.count > 0 %>
		<% @gladiators.each do |gladiator| %>
			<div class="droppable sixteen wide column ui message">
				<p class="header"><%= gladiator.name %></p>
				<ul class='gladiator-equipments list'>
					
				</ul>
			</div>
		<% end %>
	<div class="reset-float"></div>		
<% end %>
<%= link_to("Créer un gladiateur", new_gladiator_path, class: 'positive ui button') %>
<h2>Equipements</h2>
<p>Glisser un équipement sur un gladiateur pour l'équiper</p>
<% if @equipments.count > 0 %>
		<% @equipments.each do |equipment| %>
			<div class="single-equipment draggable ui label">
				<h3><%= equipment.name %></h3>
				<!-- <p>Priorité: <%= equipment.priority %></p>
				<p>Dommages: <%= equipment.damage %></p>
				<p>Défense: <%= equipment.defense %></p> -->
			</div>
		<% end %>
	</ul>
	<div class="reset-float"></div>
<% end %>
	
<h2>Options</h2>
<%= link_to("Modifier l'équipe", [:edit, @team], class: 'primary ui button') %>
<%= link_to("Supprimer l'équipe", @team, :method => :delete, class: 'negative ui button') %>
