<h1><%= @team.name %></h1>
<p><%= @team.description %></p>

<h2>Gladiateurs</h2>
<% if @gladiators.count > 0 %>
	<% @gladiators.each do |gladiator| %>
		<div class="droppable ui message" data-id-gladiator="<%= gladiator.id %>" data-url="<%= set_equipment_path %>">
			<p class="header"><i class="child icon"></i><%= gladiator.name %></p>
			<% if gladiator.equipment_id %>
				<p><%= gladiator.equipment_id %></p>
			<% end %>
			<ul class='gladiator-equipments'>
				<% if gladiator.equipments.count > 0 %>
					<% gladiator.equipments.each do |ge| %>
						<li><%= ge.name %><%= link_to(raw('<i class="remove red icon"></i>'), {:action => 'destroy_equipment', :remote => true, :gladiator_id => gladiator.id, :equipment_id => ge.id}) %></li>
					<% end %>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="reset-float"></div>		
<% end %>
<%= link_to("Créer un gladiateur", new_gladiator_path, class: 'positive ui button') %>
<h2>Equipements</h2>
<p>Glisser un équipement sur un gladiateur pour l'équiper</p>
<% if @equipments.count > 0 %>
		<% @equipments.each do |equipment| %>
			<div class="single-equipment draggable ui label" data-equipment-id="<%= equipment.id %>" data-equipment-points="<%= equipment.points %>">
				<h3><%= equipment.name %></h3>
				<input type="hidden" class="id_equipement" name="id_equipement" value="<%= equipment.id %>">
				<!-- <p>Priorité: <%= equipment.priority %></p>
				<p>Dommages: <%= equipment.damage %></p>
				<p>Défense: <%= equipment.defense %></p> -->
			</div>
		<% end %>
	</ul>
	<div class="reset-float"></div>
<% end %>
	
<h2>Options</h2>
<%= link_to("Modifier l'équipe", [:edit, @team], class: 'primary ui button') %>
<%= link_to("Supprimer l'équipe", @team, :method => :delete, class: 'negative ui button') %>
