<h1 class="ui dividing header"><i class="users icon"></i> <%= @team.name %></h1>
<p><%= @team.description %></p>

<% if @gladiators.count > 0 %>
    <h2>Gladiateurs</h2>
	<% @gladiators.each do |gladiator| %>
		<div class="droppable ui message" data-id-gladiator="<%= gladiator.id %>" data-url="<%= set_equipment_path %>" data-id-gladiator="<%= gladiator.id %>" data-url="<%= set_equipment_path %>" data-gladiator-points="<%= gladiator.points_equipment %>">
			<p class="header"><i class="child icon"></i><%= gladiator.name %> | <%= gladiator.points_equipment %> pts</p>
			<% if gladiator.equipment_id %>
				<p><%= gladiator.equipment_id %></p>
			<% end %>
			<ul class='gladiator-equipments'>
				<% if gladiator.equipments.count > 0 %>
					<% gladiator.equipments.each do |ge| %>
						<li><%= ge.name %><%= link_to(raw('<i class="remove red icon"></i>'), {:action => 'destroy_equipment', :remote => true, :gladiator_id => gladiator.id, :equipment_id => ge.id, :points_equipement => ge.points}) %></li>
					<% end %>
				<% end %>
			</ul>
		</div>
    </div>
	<% end %>
	<div class="reset-float"></div>
<% end %>
<h2 class="ui header">Equipements
  <div class="sub header">Glisser un équipement sur un gladiateur pour l'équiper</div>
</h2>
<% if @equipments.count > 0 %>
		<% @equipments.each do |equipment| %>
			<div class="single-equipment draggable ui label" data-equipment-id="<%= equipment.id %>" data-equipment-points="<%= equipment.points %>">
				<%= equipment.name %>
                <div class="detail"><%= equipment.points %> pts</div>
				<input type="hidden" class="id_equipement" name="id_equipement" value="<%= equipment.id %>">
				<!-- <p>Priorité: <%= equipment.priority %></p>
				<p>Dommages: <%= equipment.damage %></p>
				<p>Défense: <%= equipment.defense %></p> -->
			</div>
		<% end %>
	</ul>
	<div class="reset-float"></div>
<% end %>
<br/><br/>
<%= link_to("Modifier l'équipe", [:edit, @team], class: 'left attached primary ui button') %>
<%= link_to("Supprimer l'équipe", @team, :method => :delete, class: 'right attached negative ui button') %>
