<div class="ui grid">
<div class="six wide column">
  <h2>Modifier mes informations</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="ui form">
      <% if devise_error_messages! != '' %>
        <div class="ui negative message">
          <%= devise_error_messages! %>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :email %>
        <div class="ui input">
          <%= f.email_field :email, autofocus: true %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password, "Mot de passe" %> <i>(Laissez le vide si vous ne voulez pas le changer)</i>
        <div class="ui input">
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "Confirmation du mot de passe" %>
        <div class="ui input">
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :current_password, "Mot de passe actuel" %><i>(Nous avons besoin de votre mot de passe actuel pour valider les changements)</i>
        <div class="ui input">
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
      </div>

      <div class="field">
        <%= f.submit "Mettre à jour", :class => 'ui primary button' %>
      </div>
    </div>
  <% end %>

  <h3>Supprimer mon compte</h3>

  <p>Vous n'êtes pas content? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes vous sûr ?" }, method: :delete, :class => 'negative ui button' %></p>
</div>
</div>
