<h2 class="ui top attached header"><i class="trophy icon"></i> Classement général</h2>
<div class="ui attached segment">
    <table class="ui table">
        <thead>
          <tr>
            <th>Position</th>
            <th>Joueur</th>
            <th>Nom de l'équipe</th>
            <th>Victories</th>
            <th>Fights</th>
            <th>% victoires</th>
          </tr>
        </thead>
        <tbody>
        <% @bestTeams.each do |uId, t| %>
            <tr>
              <td><%= t['pos'] %></td>
              <td><%= t['username'] %></td>
              <td><%= t['name'] %></td>
              <td><%= t['victories'] %></td>
              <td><%= t['fights'] %></td>
              <td><%= t['ratio'] %> %</td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>