<!DOCTYPE html>
<html>
<head>
  <title>Gladiators Game</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width" />
  <%= csrf_meta_tags %>
</head>
<body>

<header class="container">
    <nav class="ui secondary pointing menu">
        <% if current_page?(root_path) %>
            <%= link_to(raw('<i class="home icon"></i> Accueil'), root_path(), :class => 'ui active item') %>
        <% else %>
            <%= link_to(raw('<i class="home icon"></i> Accueil'), root_path(), :class => 'ui item') %>
        <% end %>
        <% if user_signed_in? %>
          <% if current_page?(user_path(id: current_user.id)) %>
              <%= link_to(raw('<i class="male icon"></i>')+current_user.name, user_path(id: current_user.id), :class => 'ui active item') %>
          <% else %>
              <%= link_to(raw('<i class="male icon"></i>')+current_user.name, user_path(id: current_user.id), :class => 'ui item') %>
          <% end %>
          <% if current_page?(new_team_path) %>
              <%= link_to(raw('<i class="users icon"></i> Ajouter une équipe'), new_team_path, :class => 'ui active item') %>
          <% else %>
              <%= link_to(raw('<i class="users icon"></i> Ajouter une équipe'), new_team_path, :class => 'ui item') %>
          <% end %>
          <% if current_page?(new_gladiator_path) %>
            <%= link_to(raw('<i class="child icon"></i> Ajouter un gladiateur'), new_gladiator_path, :class => 'ui active item') %>
          <% else %>
              <%= link_to(raw('<i class="child icon"></i> Ajouter un gladiateur'), new_gladiator_path, :class => 'ui item') %>
          <% end %>
        <% end %>
        <div class="right menu">
            <% if user_signed_in? %>
                <%= link_to(raw('<i class="user icon"></i> Déconnexion'), destroy_user_session_path, :class => 'ui item', :method => :delete) %>
            <% else %>
              <% if current_page?(user_session_path) %>
                  <%= link_to(raw('<i class="user icon"></i> Connexion'), user_session_path, :class => 'ui active item')  %>
              <% else %>
                  <%= link_to(raw('<i class="user icon"></i> Connexion'), user_session_path, :class => 'ui item')  %>
              <% end %>
            <% end %>
        </div>
    </nav>
    <% if notice %>
      <div class="ui positive message">
        <p>
          <%= notice %>
        </p>
      </div>
    <% end %>
    <% if alert %>
      <div class="ui negative message">
        <p>
          <%= alert %>
        </p>
      </div>
    <% end %>
</header>

<main class="container">
    <%= yield %>
</main>

<footer class="container">
</footer>

</body>
</html>
